.dark .mob-nav .navigation ul a {
  color: #fff !important;
}
.dark .mob-nav .navigation ul li {
  color: #fff !important;
}
.dark .nav ul .links li {
  color: #ffff !important;
}
.dark li:after {
  background: #ffff !important;
}
.dark .nav ul .links .moon {
  color: #fff !important;
}
.dark .overlay {
  background: #020a13 !important;
}

.navbar {
  padding-left: 15px;
  padding-right: 70px;
}
.navbar .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ebe6e0;
  z-index: 998;
}
.navbar .mob-nav {
  position: relative;
  z-index: 999;
  top: -345px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .mob-nav .logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar .mob-nav .logo img {
  width: 110px;
}
.navbar .mob-nav .mob-lines {
  cursor: pointer;
  padding-right: 25px;
}
.navbar .mob-nav .mob-lines .close {
  display: none;
}
.navbar .mob-nav .navigation {
  margin-top: 45%;
}
.navbar .mob-nav .navigation ul {
  display: flex;
  flex-direction: column;
  gap: 45px;
  list-style-type: none;
  align-items: center;
}
.navbar .mob-nav .navigation ul a {
  text-decoration: none;
  color: black;
}
.navbar .mob-nav .navigation ul li.active:after {
  width: 150%;
}
.navbar .mob-nav .navigation ul li.active {
  opacity: 1;
  font-weight: bold;
}
.navbar .mob-nav .navigation ul li {
  cursor: pointer;
  position: relative;
  opacity: 0.5;
  transition: 0.3s;
  font-size: 20px;
}
.navbar .mob-nav .navigation ul li:hover {
  opacity: 1;
}
.navbar .mob-nav .navigation ul li:hover:after {
  width: 150%;
}
.navbar .mob-nav .navigation ul li:after {
  content: "";
  position: absolute;
  background: #333333;
  height: 1px;
  width: 0%;
  left: 50%;
  bottom: -10px;
  transition: 0.3s;
  transform: translateX(-50%);
}
.navbar .lines {
  display: none;
  cursor: pointer;
}
.navbar .nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  position: relative;
}
.navbar .nav ul li {
  position: relative;
  cursor: pointer;
}
.navbar .nav ul a {
  text-decoration: none;
}
.navbar .nav ul li:after {
  content: "";
  position: absolute;
  background: #333333;
  height: 1px;
  width: 0%;
  left: 50%;
  bottom: -10px;
  transition: 0.3s;
  transform: translateX(-50%);
}
.navbar .nav ul li:hover:after {
  width: 150%;
}
.navbar .nav ul .logo img {
  width: 110px;
}
.navbar .nav ul .links {
  display: flex;
  gap: 15px;
  align-items: center;
}
.navbar .nav ul .links .moon {
  cursor: pointer;
}
.navbar .nav ul .links li {
  color: #333333;
  font-size: 16px;
}

@media (max-width: 950px) {
  .navbar {
    padding-right: 10px;
  }
  .navbar .nav ul .links {
    display: none;
  }
  .navbar .nav .lines {
    display: block;
  }
}
@media (max-width: 745px) {
  .navbar .nav ul {
    left: -60px;
  }
}
@keyframes Popup {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 750px) {
  .navbar .mob-nav .logo img {
    display: none;
  }

  .navbar .mob-nav .logo span {
    position: static !important;
    top: 0;
  }

  .navbar .mob-nav .logo {
    display: block;
  }

  .navbar .mob-nav .mob-lines .close {
    display: block;
  }

  .navbar .mob-nav .mob-lines .grid {
    display: none;
  }

  .navbar .mob-nav {
    position: relative;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: -118px !important;
    align-items: baseline !important;
  }

  .navbar .mob-nav .navigation {
    margin-top: 0% !important;
  }
}
